.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* more */

.post-wrapper {
  padding: 0% 20%;
}

.post-wrapper, .post-container {
  display: flex;
  flex-direction: column;
}

.header-container, .action-container {
  display: flex;
}

.action-container {
  /* flex-direction: column; */
}

.header-container {
  align-items: center;
}

.header-container img {
  max-width: 60px;
  border-radius: 50%;
}

.img-container img {
  width: 100%;
}

.comment-container {
  display: flex;
  flex-direction: column;
}

.main-navbar {
  display: flex ;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  list-style-type: none;
}

.main-navbar .left-side, .right-side, .center-side {
  display: flex;
  align-items: center;
}
